@use "mixin" as m;

.menu {
	padding: 64px 0 0;
    background: var(--color-base);
    border-right: 1px solid var(--color-base);
    width: 64px;
    height: 100%;
    min-height: calc(100vh - 88px);
    transition: width .3s ease-out, box-shadow .2s .2s ease-out;
    position: absolute;
    z-index: 999;
    @include m.mq(sp) {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 64vw;
        height: 100vh;
        padding: 20vw 16vw;
        transform: translateX(72vw);
        transition: .3s ease-out;
    }
    &.sp-active {
        @include m.mq(sp) {
            transition: .3s ease-out;
            transform: translateX(0);
        }
    }
    &.active {
        width: 232px;
        box-shadow: 4px 0px 12px -4px rgba(0,0,0,0.1);
        transition: width .3s ease-out, box-shadow .3s .3s ease-out;
        li {
            width: 196px;
            transition: .3s ease-out;
            .menu-text {
                opacity: 1;
                transition: .1s ease-out;
            }
        }
    }
    ul {
        position: fixed;
        top: 96px;
        left: 2px;
        @include m.mq(sp) {
            position: relative;
            top: auto;
            left: auto;
        }
    }
    li {
        width: 40px;
        height: 40px;
        margin: 0 8px 16px 18px;
        padding: 5px 0 0 8px;
        border-radius: 20px;
        transition: .3s ease-out;
        overflow: hidden;
        white-space: nowrap;
        background: var(--color-blue-light);
        @include m.mq(sp) {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            background: transparent;
            font-size: 14px;
        }
        &.active {
            background: var(--color-active);
            @include m.mq(sp) {
                background: transparent;
            }
            a {
                color: var(--color-em);
                @include m.mq(sp) {
                    color: var(--color-primary);
                }    
            }
            &:hover {
                background: var(--color-active);
                @include m.mq(sp) {
                    background: transparent;
                }
                a {
                    transition: .1s ease-out;
                    color: var(--color-em);
                    @include m.mq(sp) {
                        color: var(--color-primary);
                    }    
                }
            }
        }
        span {
            padding-right: 16px;
            &.menu-text {
                padding-bottom: 2px;
                opacity: 0;
                transition: .1s ease-out;
                @include m.mq(sp) {
                    opacity: 1;
                    padding: 1px 0 0;
                }
            }
        }
        &:hover {
            background: var(--color-active);
            transition: .1s ease-out;
            cursor: pointer;
            @include m.mq(sp) {
                background: transparent;
            }
            a {
                color: var(--color-em);
                font-weight: 500;
                @include m.mq(sp) {
                    color: var(--color-primary);
                }    
            }
        }
    }
    .logout {
        position: fixed;
        height: 40px;
        &:hover {
            color: var(--color-em);
        }
        span {
            padding: 3.25px 0 0 2px;
        }
    } 
    a {
        height: 32px;
        padding: 0 0 1px;
        margin-bottom: 16px;
        @include m.flexStartCenter;
    }
    .badge {
        width: 20px;
        height: 20px;
        padding-bottom: 2px;
        border-radius: 50%;
        position: fixed;
        top: 88px;
        left: 48px;
        background: var(--color-error);
        color: var(--color-em);
        font-size: 9px;
        font-weight: 500;
        transition: .3s ease-out;
        @include m.flexCenterCenter;
        z-index: 99;
        animation: badge .3s ease-out 0s both;
        transform-origin: center;
        @include m.mq(sp) {
            width: 24px;
            height: 24px;
            position: absolute;
            top: calc(20vw + 2px);
            left: 4vw;
            animation: none;   
        }
        &.active {
            animation: move .3s ease-out 0s both;
            @include m.mq(sp) {
                animation: none;   
            }
        }
    }
    .menu-btn {
        display: none;
        @include m.mq(sp) {
            display: block;
            position: fixed;
            top: 24px;
            right: 16px;
            transition: .3s ease-out;
            transform: translateX(-72vw);
        }
        span {
            @include m.mq(sp) {
                display: block;
                width: 32px;
                height: 2px;
                margin: 0 0 8px;
                background: var(--color-primary);
                transition: .3s ease-out;
            }
        }
        &.active {
            transform: translateX(0);
            span {
                transition: .3s ease-out;
                &.bar-top {
                    @include m.mq(sp) {
                        transform-origin: top left;
                        transform: rotate(45deg) translate(-0.25px, 0);    
                    }
                } 
                &.bar-center {
                    @include m.mq(sp) {
                        opacity: 0;
                    }
                }  
                &.bar-bottom {
                    @include m.mq(sp) {
                        transform-origin: bottom left;
                        transform: rotate(-45deg) translate(-1.5px, 1px);    
                    }
                } 
            }
        }
    }
}
.menu ul li.logout p {
    @include m.flexStartCenter;
    .menu-text {
        transition: .1s ease-out;
        padding: 3px 0 0 12.5px;
    }
    &:hover {
        transition: .1s ease-out;
        color: var(--color-em);
        font-weight: 500;
    }
}

.menu-modal {
    @include m.mq(sp) {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(0,0,0,.7);
        transition: .3s ease-out;
        visibility: hidden;
        z-index: 999;
    }
    &.sp-active {
        @include m.mq(sp) {
            opacity: 1;
            visibility: visible;
            transition: .3s ease-out;
        }
    }
}

@keyframes badge {
	0% {
        transform: scale(0);
	}
	80% {
		transform: scale(1.2);
	}
    100% {
		transform: scale(1);
	}
}
@keyframes move {
	0% {
        transform: translateX(0);
	}
    100% {
		transform: translateX(154px);
    }
}