@use "mixin" as m;

.search-box {
    padding: 0;
    position: relative;
    @include m.flexEndCenter;
    .search {
        width: 100%;
        @include m.flexEndCenter;
    }
    input[type="text"] {
        width: 240px;
        height: 40px;
        background: var(--color-blue-light);
        border-radius: 24px;
        padding: 0 20px 2px;
        margin-left: 16px;
        transition: .2s ease-out;
        &::placeholder {
            opacity: .7;
        }
        @include m.mq(sp) {
            width: calc(100vw - 24px);
            height: 48px;
            background: var(--color-gray-200);
            border-radius: 0;
            margin: 16px 0 0;
            padding: 14px 48px 16px 16px;

        }
        &:hover {
            background: var(--color-blue-light-hover);
            transition: .2s ease-out;
        }
        &:focus {
            background: var(--color-blue-light-hover);
        }
    }
    .search-btn {
        margin-left: 8px;
        padding: 4px 0 0;
        z-index: 999;
        transition: .2s ease-out;
        @include m.mq(sp) {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(calc(-50% + 8px));
        }
        span {
            @include m.mq(sp) {
                font-size: 32px;
            }
        }
        &:hover {
            cursor: pointer;
            color: var(--color-active);
        }
        &.active {
            cursor: pointer;
            color: var(--color-active);
        }
    }
}
.search-msg {
    position: absolute;
    height: 48px;
    @include m.flexStartCenter;
    @include m.mq(sp) {
        display: none;
    }
    span {
        font-size: 20px;
        padding: 2px 4px 0 2px;
    }
}
