@use "mixin" as m;

.show {
    width: calc(100% - 56px);
    height: calc(100% - 64px);
    position: fixed;
    top: 64px;
    left: 56px;
    padding: 48px 0 48px 24px;
    transition: .3s ease-out;
    @include m.flexCenterCenter;
    &.active {
        opacity: 1;
        visibility: visible;
        background: var(--color-base);
        transition: .2s ease-out;
        z-index: 998;
        &.remove {
            opacity: 0;
            transition: .3s ease-out;
        }    
    }
    .show-contents {
        width: 800px;
        height: auto;
        padding: 24px 48px 32px;
        border-radius: 4px;
        border: 1px solid var(--color-line);
        background: var(--color-table);
    }
}
.show {
    .show-inner {
        height: 100%;
        font-weight: 500;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display:none;
        }    
    }
    .show-contents {
        @include m.flexBetweenCenter;
        flex-wrap: wrap;
        font-size: 13px;
        line-height: 2;
        overflow-y: scroll;
        position: relative;
        text-align: justify;
        .show-date {
            width: 100%;
        }
        .read-data {
            width: 100%;
            margin: 8px 0 -16px;
            font-size: 13px;
            @include m.flexEndCenter;
            p {
                padding-left: 16px;
                @include m.flexEndCenter;
                .read-icon {
                    font-size: 14px;
                    padding: 2px 4px 0 0;
                    &.read {
                        color: var(--color-text-light);
                    }
                    &.unread {
                        color: var(--color-safety);
                    }
                }
            }
        }
        .shop-name {
            font-size: 20px;
            width: 100%;
            margin: 16px 0 0;
            padding: 0 0 26px;
            border-bottom: 1px solid var(--color-line);
        }
        .attribute-data {
            width: 100%;
            padding: 24px 0 4px;
            @include m.flexStartCenter;
            &.shop {
                padding: 4px 0;
            }
            p {
                margin-right: 16px;
            }
            .icon {
                padding: 8px 0 0;
            }
        }
        .personal-data {
            width: 100%;
            padding: 8px 0 24px;
            @include m.flexStartCenter;
            flex-wrap: wrap;
            .flex {
                padding-right: 24px;
                margin-bottom: 8px; 
                @include m.flexStartEnd;
                .item {
                    padding-right: 4px;
                    font-size: 11px;
                }
                .none {
                    margin-bottom: -1px;
                    color: var(--color-text-light);
                }
            }
        }
        .questions-data {
            width: 100%;
            padding: 32px 0 0;
            border-top: 1px solid var(--color-line);
            @include m.flexStartCenter;
            flex-wrap: wrap;
            .questions-datum {
                width: 30%;
                @include m.flexStartCenter;
                flex-wrap: wrap;
                margin: 0 0 24px;
                .reply {
                    font-weight: 400;
                }
                &.textarea {
                    width: 100%;
                    p:last-of-type {
                        @include m.flexStartStart;
                        .question-icon {
                            padding-top: 7px;
                        } 
                    }
                }    
                p {
                    width: 100%;
                    margin: 0 0 8px;
                    @include m.flexStartCenter;
                }
                .question-icon {
                    padding: 2px 4px 0 0;
                    font-size: 14px;
                }
                .warning {
                    font-weight: 500;
                    color: var(--color-error);
                }
                .none {
                    color: var(--color-text-light);
                }
            }
        }
        .comment-data {
            width: 100%;
            margin: 16px 0 0;
            padding: 32px 0 0;
            font-weight: 400;
            border-top: 1px solid var(--color-line);
            .comment-card {
                margin: 0 0 16px;
                position: relative;
                @include m.flexBetweenCenter;
                flex-wrap: wrap;
                .comment-user {
                    font-weight: 500;
                    @include m.flexStartCenter;
                    .icon {
                        padding-right: 4px;
                    }
                }
                .comment-date {
                    padding: 0 26px 0 0;
                    font-size: 12px;
                    color: var(--color-secondary);
                }
                .comment {
                    width: 100%;
                    margin: 8px 0;
                    padding: 0 27px 48px;
                    line-height: 1.6;
                    border-bottom: 1px dotted var(--color-line-deep);
                }
                .destroy {
                    position: absolute;
                    bottom: 16px;
                    right: 23px;
                    .icon {
                        font-size: 20px;
                        transition: .3s ease-out;
                        &:hover {
                            transition: .3s ease-out;
                            color: var(--color-error);
                        }
                    }
                }
            }
        }
        .comment-form {
            width: 100%;
            padding: 8px 0 0;
            .approval-btn {
                margin: 16px auto;
                padding: 4px 16px 6px;
                border-radius: 4px;
                text-align: center;
                color: #fff;
                transition: .3s ease-out;
                background: var(--color-text-light);
                @include m.flexCenterCenter;
                &:hover {
                    transition: .3s ease-out;
                    background: var(--color-error);
                }
            }
            .no-comment {
                margin: -8px 0 32px;
                padding: 0 0 32px;
                color: var(--color-text-light);
                border-bottom: 1px solid var(--color-line);
            }
            .comment-guide {
                font-weight: 400;
                @include m.flexStartCenter;
                .icon {
                    font-size: 17px;
                    padding-right: 2px;
                } 
            }
            textarea {
                width: 100%;
                height: 96px;
                margin: 16px 0;
                padding: 4px 8px;
                border: 1px solid var(--color-line);
                border-radius: 4px;
                background: var(--color-base);
                &:focus {
                    outline: none;
                }
            }
            .comment-btn {
                margin: 16px auto 8px;
                padding: 4px 24px;
                display: block;
                border-radius: 4px;
                color: #fff;
                transition: .3s ease-out;
                background: var(--color-text-light);
                &.active {
                    transition: .3s ease-out;
                    background: var(--color-active);
                }
                &:hover {
                    transition: .3s ease-out;
                    background: var(--color-active);
                }
            }
        }
        .close-btn {
            width: 100%;
            p {
                width: 100px;
                margin: 16px auto 0;
                padding: 4px 12px 6px;
                display: block;
                font-weight: 400;
                text-align: center;
                border-radius: 4px;
                transition: .2s ease-out;
                &:hover {
                    cursor: pointer;
                    color: var(--color-active);
                    background: var(--color-base);
                    transition: .2s ease-out;
                }
            }
        }
    }
    .show-state {
        position: absolute;
        top: 24px;
        right: 24px;
        @include m.flexStartCenter;
        .state-icon {
            font-size: 13px;
            display: none;
        }
        .state-msg {
            font-size: 12px;
            padding: 0 12px 2px 4px;
        }
        &.negative {
            .state-icon {
                color: var(--color-warning);
                display: inline-block;
            }
            &.active {
                .negative {
                    display: none;
                }
            }
            &.approval {
                .negative {
                    display: none;
                }
            }
            &.ng {
                .negative {
                    display: none;
                }
            }
        }
        &.active {
            color: var(--color-error);
            .state-icon {
                color: var(--color-error);
                display: inline-block;
                animation: flashing 2s ease-in infinite;
            }
            .reading {
                color: var(--color-primary);
            }
        }
        &.approval {
            color: var(--color-text-light);
            .state-icon {
                color: var(--color-text-light); 
                display: inline-block;
            }
        }
        &.ng {
            .state-icon {
                color: var(--color-dark); 
                display: inline-block;
            }
        }
        .read {
            font-size: 14px;
            color: var(--color-text-light); 
        }
        .unread {
            font-size: 14px;
            color: var(--color-safety); 
        }
    }
}
@keyframes get {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }   
}
@keyframes flashing {
	0% {
		opacity: 1;
	}
    60% {
		opacity: 1;
	}
    90% {
		opacity: .6;
	}
    100% {
		opacity: 1;
	}
}