@use "mixin" as m;

.table-box {
    width: calc(100% - 8px);
    height: 100vh;
    margin: 66px 0 0;
    overflow: scroll;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
    @include m.mq(sp) {
        width: 100vw;
        margin: 134px 0 0;
    }
}
.table-head {
    ul {
        width: calc(100% - 120px);
        min-width: 688px;
        overflow: hidden;
        height: 48px;
        position: fixed;
        top: 98px;
        left: 84px;   
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        z-index: 99;
        white-space: nowrap;
        @include m.flexCenterCenter;
        @include m.mq(sp) {
            display: none;
        }
        li {
            height: 48px;
            padding: 17px 16px 0;
            border-bottom: 1px solid var(--color-line);
            white-space: nowrap;
            text-align: center;
            font-weight: 600;
            background: var(--color-em);
            background: var(--color-thead);
            color: var(--color-primary);
            transition: .2s ease-out;
            white-space: nowrap;
            &.th-shop-name {
                width: 20%;
                text-align: left;
                min-width: 120px;
                max-width: 240px;
                padding: 17px 0 0 8px;
            }
            &.th-age {
                min-width: 56px;
                max-width: 56px;
                padding-left: 25px;
                &.notilde {
                    padding-left: 20px;
                }    
            }
            &.th-gender {
                min-width: 56px;
                max-width: 56px;
                padding-left: 27px;
                &.notilde {
                    padding-left: 21px;
                }    
            }
            &.th-long-long {
                width: calc(100% - 128px);
                padding-right: 24px;
                padding-left: 16px;
                text-align: center;
            }
            &.paginations {
                padding-right: 4px;
            }
            &.th-filter-btn span {
                width: 24px;
                height: 24px;
                padding: 2px 0 0;
                border-radius: 50%;
                position: fixed;
                top: 110px;
                left: 92px;
                border: none;
                transition: .3s ease-out;
                @include m.flexCenterCenter; 
                &:hover {
                    cursor: pointer;
                    background: var(--color-blue-light);
                }
            }      
        }
        &.fixed {
            transition: .2s ease-out;
            border-radius: 16px 16px 0 0;
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
        }
    }
    .table-filter {
        position: fixed;
        top: 140px;
        left: 98px;
        z-index: 99;
        padding: 4px;
        background: var(--color-em);
        transition: .2s ease-out;
        border-radius: 4px;
        box-shadow :0px 6px 24px 0px rgba(0, 0, 0, 0.1);
        opacity: .5;
        transform-origin: top;
        transform: scaleY(0);
        visibility: hidden;
        &.active {
            transition: .2s ease-out;
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
        }
        input {
            display: none;
        }
        label, a {
            font-size: 12px;
            margin: 2px;
            padding: 8px;
            transition: .2s ease-out;
            border-radius: 4px;
            @include m.flexStartCenter;
            .icon {
                font-size: 11px;
                padding-right: 8px;
            }
            &.active .icon {
                color: var(--color-error);
            }
            &.negative .icon {
                color: var(--color-warning);
            }
            &.unread .icon {
                color: var(--color-safety);
            }
            &.myunread .icon {
                color: var(--color-line);
            }
            &.approval .icon {
                color: var(--color-line);
            }
        }
        label {
            &:hover {
                background: var(--color-base);
            }
            &.selected {
                background: var(--color-base-deep);
            }
        }
    }    
}
.table {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 0 16px;
    font-size: .8rem;
    color: var(--color-text-em);
    .tbody {
        .tr {
            width: 100%;
            transition: .2s ease-in;
            position: relative;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            height: 44px;
            @include m.flexBetweenCenter;
            @include m.mq(sp) {
                width: 100vw;
                height: auto;
                padding: 16px 12px 8px;
                border-bottom: 1px solid var(--color-line);
                @include m.flexBetweenCenter;
                flex-wrap: wrap;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background: var(--color-em);   
            }        
            &:hover {
                cursor: pointer;
                box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
                transition: .2s ease-in;
                z-index: 1;
            }
            .td {
                background: var(--color-table);
                color: var(--color-primary);
            }
            &:last-of-type {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                @include m.mq(sp) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;    
                }
                .td {
                    &:first-of-type {
                        border-bottom-left-radius: 16px;
                    }
                    &:last-of-type {
                        border-bottom-right-radius: 16px;
                    }
                }
            }
            &.read {
                @include m.mq(sp) {
                    background: var(--color-base);
                }
                .td {
                    background: var(--color-base);
                }
            }
        }
    }
    .td {
        height: 44px;
        padding: 14px 0 14px 8px;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid var(--color-line);
        background: var(--color-em);
        @include m.mq(sp) {
            height: auto;
            border-bottom: none;
            padding: 0 0 8px;
        }
        &.long-long {
            width: calc(100% - 128px);
            text-align: left;
            padding-left: 16px;
            @include m.mq(sp) {
                width: 100%;
                order: 6;
            }
        }
        &.shop-name {
            width: 20%;
            min-width: 128px;
            max-width: 240px;
            padding: 14px 0 14px 8px;
            text-align: left;
            @include m.mq(sp) {
                width: calc(80vw - 40px);
                min-width: calc(80vw - 40px);
                max-width: calc(80vw - 40px);
                padding: 0;
                order: 2;
            }
        }
        &.age {
            min-width: 56px;
            max-width: 56px;
            padding-right: 4px;
            @include m.mq(sp) {
                min-width: auto;
                max-width: auto;
                width: auto;
                padding: 8px 0 8px 16px;
                margin-right: auto;
                order: 4;
                @include m.flexStartCenter;
            }
        }
        &.gender {
            min-width: 56px;
            max-width: 56px;
            @include m.mq(sp) {
                min-width: calc(80vw - 12px);
                max-width:calc(80vw - 12px);
                width: calc(80vw - 12px);
                padding: 8px;
                margin-right: auto;
                order: 5;
                @include m.flexStartCenter;
            }
        }
        &.date {
            width: 128px;
            padding-right: 0;
            margin-right: -2px;
            font-size: .75rem;
            @include m.mq(sp) {
                width: 20%;
                order: 3;
                margin: 0;
                padding: 1px 0 0;
                text-align: right;
            }
        }
        &.tilde {
            padding-left: 14px;
            padding-right: 0px;
        }
        &.link {
            width: 0;
            padding: 0;
            a {
                width: 100%;
                height: 44px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
.tr {
    .td {
        &.read-icon {
            max-width: 32px;
            min-width: 32px;
            @include m.mq(sp) {
                max-width: auto;
                min-width: auto;
                width: 16px;
                padding: 1px 0 0;
                margin-left: -8px;
                @include m.flexStartCenter;   
                order: 1;
            }
            span {
                font-size: 10px;
                text-align: center;
                color: var(--color-safety);
                @include m.mq(sp) {
                    text-align: left;
                }
            }
            &.shop {
                span {
                    color: var(--color-line);
                }
            }
            &.area_manager.manager.ng {
                span {
                    color: var(--color-line);
                }
            }
            &.negative {
                span {
                    color: var(--color-warning);
                }
            }
            &.active {
                span {
                    color: var(--color-error) !important;
                }
            }
            &.approval {
                span {
                    color: var(--color-line);
                }
            }
            &.ng {
                span {
                    color: var(--color-primary);
                }
            }
        }
    }
}